<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<style>
			.example-wrapper {
				margin: 1em auto;
				max-width: 800px;
				width: 95%;
				font: 18px / 1.5 sans-serif;
			}
			.example-wrapper code {
				background: #F5F5F5;
				padding: 2px 6px;
			}
			body {
				height : 100vh;
			}
			.clickable {
				transition : transform .1s;
			}

			.clickable:hover {
				transform: scale(1,1.1);
			}
		</style>

		{% set devise = app.request.session.get('devise') %}
		{%  if devise == null %}
			{% set devise = 'EUR' %}
		{% endif %}
        {% set route = app.request.attributes.get('_route') %}
		{{ dump(route) }}
        {% set params = app.request.attributes.get('_route_params') %}
		{{ dump(params) }}
		{# {{ render(controller( 'App\\Controller\\PageController::navBar',
            {'route': route, 'params': params}))
        }}#}

		<main class="container-fluid" style="width:100%">
			<div class="row ">
				<div class="col-md-10" style="padding:10px">
					{% block body %}{% endblock %}
				</div>

				<div class="col-md-2" style="padding:10px;">
						{{ render(controller( 'App\\Controller\\PageController::sideBar',
							{'route': route, 'params': params}))
						}}
				</div>
			</div>
		</main>
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>
</html>
